.modalWrap {
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #262626, $alpha: .3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .modalBox {
        width: 30rem;
        height: 15rem;
        background-color: #ffffff;
    }
}